.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }
 .marker {
   background-image: url("./images/iss.png");
   background-size: cover;
   width: 120px;
   height: 83px;
 }

 .loadScreen{
   display: flex;
   justify-content: center;
   align-items: center;
   background: #0e0e0e;
   height: 100vh;
   color: #fff;
 }